body,
body * {
  vertical-align: baseline;
  border: 0 none;
  outline: 0;
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 9pt;
  font-weight: 700;
  color: #00b6ed;
}

.container {
  position: absolute;
  width: 336px;
  height: 280px;
  top: 0;
  left: 0;
  z-index: 100;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  overflow: hidden;
  border: 1px #01016e solid;
  /*top: 300px;*/
  /*left: 600px;*/
  background-color: #00b6ed;
  background-size: cover;
}

img {
  width: 100%;
  height: auto;
}

.el {
  position: absolute;
  /*width: 60px;*/
  left: 0;
  top: 0;
}

#circle_cont {
  width: 148px;
  height: 148px;
  left: 179px;
  top: 72px;
  /* outline: 1px yellow solid; */
  

  /* 

  border-radius: 50%;
  border: 6px white solid;
  border-style: dashed;
  stroke-dasharray: 1130px;
  stroke-dashoffset: 282.6; */
}

#circle {
  fill: transparent;
  stroke: white;
  stroke-width: 6;
  stroke-dasharray: 565.2;
  stroke-dashoffset: 565.2;
  /* stroke-dashoffset: 0; */
  transform-origin: 50% 50%;
  transform: rotate(-45deg);
  /* animation: draw 1s ease-out forwards; */
}

@keyframes draw {
  from {
    stroke-dashoffset: 565.2;
  }
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes undraw {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset:  565.2;
  }
}

#droplet {
  width: 207px;
  left: 7px;
  top: -51px;
}

#txt {
  width: 173px;
  left: 20px;
  top: 12px;
  /* outline: 1px yellow solid; */
}
#packs {
  width: 158px;
  left: 169px;
  top: 92px;
}

#male {
  width: 145px;
  left: 191px;
  top: 51px;
}
#tropical0 {
  width: 44px;
  left:277px;
  top: 200px;
}
#tropical {
  width: 60px;
  left: 154px;
  top: 222px;
}
#tropical2 {
  width: 60px;
  left: 272px;
  top: 221px;
  transform: rotate(-127deg);
}

#logos_cont {
  width: 110px;
  left: 48px;
  top: 144px;
  overflow: hidden;
  /* outline: 1px yellow solid; */
}
#logos {
  width: 110px;
  left: 0px;
  top: 0px;
}

#subslogan {
  width: 67px;
  left: 70px;
  top: 183px;
  /* outline: 1px yellow solid; */
}

#link {
  width: 122px;
  left: 15px;
  top: 220px;
}

#qr {
  width: 90px;
  left: 15px;
  top: 244px;
}


#schirm {
  position: absolute;
  width: 336px;
  height: 280px;
  top: 0;
  left: 0;
  background-color: #00b6ed;
  /*background-image: url("bg01.jpg");*/
  background-size: cover;
  opacity: 0;
}
